In [1]:
import mysql.connector

In [2]:
# create connection object
con = mysql.connector.connect(
host="localhost", user="root",
password="", database="data_science")

In [3]:
# create cursor object
cursor = con.cursor()

In [5]:
sql1='select DISTINCT LAUNCH_SITE FROM spacex'

# executing cursor
cursor.execute(sql1)

# display all records
cursor.fetchall()

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

task 2

In [8]:
# %%sql
# SELECT * FROM SPACEXTBL
# WHERE LAUNCH_SITE LIKE 'CCA%'
# LIMIT 5

sql2='select * from spacex where LAUNCH_SITE LIKE \'CCA%\' LIMIT 5'

# executing cursor
cursor.execute(sql2)

# display all records
cursor.fetchall()

[('04-06-2010',
  '18:45:00',
  'F9 v1.0  B0003',
  'CCAFS LC-40',
  'Dragon Spacecraft Qualification Unit',
  '0',
  'LEO',
  'SpaceX',
  'Success',
  'Failure (parachute)'),
 ('08-12-2010',
  '15:43:00',
  'F9 v1.0  B0004',
  'CCAFS LC-40',
  'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
  '0',
  'LEO (ISS)',
  'NASA (COTS) NRO',
  'Success',
  'Failure (parachute)'),
 ('22-05-2012',
  '07:44:00',
  'F9 v1.0  B0005',
  'CCAFS LC-40',
  'Dragon demo flight C2',
  '525',
  'LEO (ISS)',
  'NASA (COTS)',
  'Success',
  'No attempt'),
 ('08-10-2012',
  '00:35:00',
  'F9 v1.0  B0006',
  'CCAFS LC-40',
  'SpaceX CRS-1',
  '500',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('01-03-2013',
  '15:10:00',
  'F9 v1.0  B0007',
  'CCAFS LC-40',
  'SpaceX CRS-2',
  '677',
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt')]

task 3

In [9]:
# %%sql
# SELECT SUM(PAYLOAD_MASS__KG_) AS total_payload_mass_kg
# FROM SPACEXTBL
# WHERE CUSTOMER = 'NASA (CRS)'

sql3="SELECT SUM(PAYLOAD_MASS__KG_) AS total_payload_mass_kg FROM spacex WHERE CUSTOMER = 'NASA (CRS)'"
# executing cursor
cursor.execute(sql3)

# display all records
cursor.fetchall()

[(45596.0,)]

task 4

In [11]:
# %%sql
# SELECT AVG(PAYLOAD_MASS__KG_) AS avg_payload_mass_kg
# FROM SPACEXTBL
# WHERE BOOSTER_VERSION = 'F9 v1.1'

sql4="SELECT AVG(PAYLOAD_MASS__KG_) AS avg_payload_mass_kg FROM spacex WHERE BOOSTER_VERSION = 'F9 v1.1' "
# executing cursor
cursor.execute(sql4)

# display all records
cursor.fetchall()

[(2928.4,)]

task 5

In [21]:
# %%sql
# SELECT MIN(DATE) AS first_successful_landing_date
# FROM SPACEXTBL
# WHERE LANDING__OUTCOME = 'Success (ground pad)'
# 2015-12-22
check="Success (ground pad)"

sql5="SELECT MIN(DATE) AS first_successful_landing_date FROM spacex WHERE Landing _Outcome = `Success (ground pad)` "

# executing cursor
cursor.execute(sql5)

# display all records
cursor.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '_Outcome = `Success (ground pad)`' at line 1

task 6

In [ ]:
# %%sql
# SELECT BOOSTER_VERSION
# FROM SPACEXTBL
# WHERE LANDING__OUTCOME = 'Success (drone ship)'
#     AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000)

# F9 FT B1022
# F9 FT B1026
# F9 FT B1021.2
# F9 FT B1031.2
    
    
sql6="SELECT BOOSTER_VERSION FROM spacex WHERE LANDING__OUTCOME = 'Success (drone ship)' AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000)"
#executing cursor
cursor.execute(sql6)

# display all records
cursor.fetchall()

task 7

In [25]:
# %%sql
# SELECT MISSION_OUTCOME, COUNT(*) AS total_number
# FROM SPACEXTBL
# GROUP BY MISSION_OUTCOME

sql7="SELECT MISSION_OUTCOME, COUNT(*) AS total_number FROM spacex GROUP BY MISSION_OUTCOME "

#executing cursor
cursor.execute(sql7)

# display all records
cursor.fetchall()

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

task 8

In [27]:
# %%sql
# SELECT DISTINCT BOOSTER_VERSION, PAYLOAD_MASS__KG_
# FROM SPACEXTBL
# WHERE PAYLOAD_MASS__KG_ = (
#     SELECT MAX(PAYLOAD_MASS__KG_)
#     FROM SPACEXTBL);

sql8="SELECT DISTINCT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM spacex WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex)"

#executing cursor
cursor.execute(sql8)

# display all records
cursor.fetchall()

[('F9 FT B1029.1', '9600'),
 ('F9 FT B1036.1', '9600'),
 ('F9 B4 B1041.1', '9600'),
 ('F9 FT  B1036.2', '9600'),
 ('F9 B4  B1041.2', '9600'),
 ('F9 B5B1048.1', '9600'),
 ('F9 B5 B1049.2', '9600')]

task 9

In [28]:
# %%sql
# SELECT LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE
# FROM SPACEXTBL
# WHERE LANDING__OUTCOME = 'Failure (drone ship)' AND YEAR(DATE) = '2015'

# 
# landing__outcome	booster_version	launch_site
# Failure (drone ship)	F9 v1.1 B1012	CCAFS LC-40
# Failure (drone ship)	F9 v1.1 B1015	CCAFS LC-40

task 10

In [36]:
# %%sql
# SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) AS total_number
# FROM SPACEXTBL
# WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
# GROUP BY LANDING__OUTCOME
# ORDER BY total_number DESC

sql10="SELECT Landing _Outcome COUNT(Landing _Outcome) AS total_number FROM spacex WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing _Outcome ORDER BY total_number DESC "

#executing cursor
cursor.execute(sql10)

# display all records
cursor.fetchall()


# ans 

"""landing__outcome	total_number
No attempt	10
Failure (drone ship)	5
Success (drone ship)	5
Controlled (ocean)	3
Success (ground pad)	3
Failure (parachute)	2
Uncontrolled (ocean)	2
Precluded (drone ship)	1"""

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '(COUNT(Landing _Outcome) AS total_number FROM spacex WHERE DATE BETWEEN '2010...' at line 1